{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1>Edit Profile</h1>
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <h2>{{current_user.name}}</h2>

        <form method="POST"  enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="fname">First Name</label>
                {{ form.fname(class="form-control") }} <br>
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                {{ form.lname(class="form-control") }} <br>
            </div>
            <div class="form-group">
                <label for="mobile">Mobile: </label>
                {{ form.mobile(class="form-control") }} <br>
            </div>
            <div class="form-group">
                <label for="email_personal">Personal Email</label>
                {{ form.email_personal(class="form-control") }} <br>
            </div>
            <div class="form-group">
                <label for="image">Upload a new profile image</label> <br>
                {{ form.image(class="form-control") }} <br>
            </div>
            {{ form.submit(class="btn btn-secondary") }}
        </form>

        {% if current_user.stories %}
            <h3>My Stories</h3>
            {% for story in current_user.stories %} <br>
                <a href="/story/{{story.id}}">{{ story.title }}</a> <br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
